.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(126, 18, 102);
    height: auto;
    padding: 25px;
  
}
.nav a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}